
@model Equipe 
@{
    ViewData["Title"]= "Equipe";
}

<!-- Formulario para tela cadastro de equipes -->
<h1>Tela De Equipes</h1>

<form method="post" action ="@Url.Action("Cadastrar")" enctype="multipart/form-data">

    <label for="Imagem">Nome</label>
    <!-- Required: serve para campo obrigatorio** -->
    <input type="text" name="Nome"required>

    <label for="Imagem">Imagem</label>
    <input type="file" name="Imagem">

    <button type="submit">Cadastrar</button>
</form>

<!-- tabela -->

<table class="table table-striped table-responsive" >
    <thead>
        <th>Id </th>
        <th>Nome </th>
        <th>Imagem </th>
        <th>Ações</th>
    </thead>

    <tbody>

        <!--lê tudo que está na viewbag (class:EQUIPECONTROLLER)-->
        @foreach (Equipe equipe in ViewBag.Equipe)
        {
        <tr>
            <td>@equipe.IdEquipe</td>
            <td>@equipe.Nome</td>
            <td>
            <img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe" width="50px">
            </td>
            <td>
                <a asp-area = ""asp-controller ="Equipe" asp-action= "Excluir" asp-route-id="@equipe.IdEquipe">Excluir</a>
            </td>
        </tr>
            
        }
    </tbody>
</table>