@model Jogador

@{
    ViewData["title"]="Equipe";
}

<h1>Tela de Jogador</h1>

@* <form method= "post" action="">

    <label for="Nome">Nome</label>
    <input type="text" name="" id="">

    <label for="">Email</label>
    <input type="text" name="Email">

    <label for="">Senha</label>
    <input type="text" name="Senha">

    <label for="">Imagem</label>
    <input type="file" name="Imagem">

    <button type="submit">Cadrastrar</button> *@

    
@* </form> *@

<table class="table table-striped-responsive" >
    <thead>

    <th>id</th>
    <th>Nome</th>
    <th>Email</th>
    <th>Imagem</th>

    </thead>

     <tbody>

        @foreach (Jogador jogador in ViewBag.Jogador)
        {
        <tr>
            <td>@jogador.IdJogador</td>
            <td>@jogador.Nome</td>
            <td>@jogador.Email</td>
            
        </tr>
            
        }
    </tbody>
    
</table>



